# Token de tu bot de Discord. Obligatorio.
DISCORD_TOKEN=TU_TOKEN_DE_DISCORD

# ID del servidor (Guild ID) de Discord donde se sincronizarán los comandos de barra. Obligatorio.
# Activa el Modo de Desarrollador en Discord, haz clic derecho en el servidor y "Copiar ID".
GUILD_ID=ID_DE_TU_SERVIDOR_DISCORD

# ID del canal de Discord donde se enviarán los reportes del comando /report. Obligatorio si el comando /report está activo.
# Activa el Modo de Desarrollador en Discord, haz clic derecho en el canal y "Copiar ID".
REPORT_CHANNEL_ID=ID_DE_TU_CANAL_DE_REPORTES