# Token de tu bot de Discord. Obligatorio.
DISCORD_TOKEN=TU_TOKEN_DE_DISCORD

# ID del servidor (Guild ID) de Discord donde se sincronizarán los comandos de barra. Obligatorio.
# Activa el Modo de Desarrollador en Discord, haz clic derecho en el servidor y "Copiar ID".
GUILD_ID=ID_DE_TU_SERVIDOR_DISCORD

# ID del canal de Discord donde se enviarán los reportes del comando /report. Obligatorio si el comando /report está activo.
# Activa el Modo de Desarrollador en Discord, haz clic derecho en el canal y "Copiar ID".
REPORT_CHANNEL_ID=ID_DE_TU_CANAL_DE_REPORTES

# IDs de usuario de Discord que podrán usar comandos de administración como /alias. Opcional, pero recomendado para el comando /alias.
# Separa múltiples IDs con comas. Ejemplo: BOT_ADMIN_USER_IDS=123456789,987654321
BOT_ADMIN_USER_IDS=ID_ADMIN_BOT1,ID_ADMIN_BOT2
